{{#> layout title="Business Invitation" }}
  <table role="presentation">
    <tr>
      <td>
        <p style="margin:0">
          <span>Hello</span>,<br><br>
          You have been invited to join <span style="font-weight: bold">{{ business }}</span> on Statisense with the
          role of <span style="font-weight:bold">{{ role }}</span>. Click the link below to get started.
        </p>
        <p style="margin: 20px 0 20px;">
          <a href="{{ link }}">{{ link }}</a>
        </p>
      </td>
    </tr>
  </table>
{{/ layout }}
