{{#> layout title="Reset Your Password" }}
  <table role="presentation">
    <tr>
      <td>
        <p style="margin:0 0 30px 0">
          <span>Hi {{ name }}</span>,<br><br>
          We received a request to reset the password for your Statisense account. To complete the process, please use
          the following One-Time Password (OTP) code:
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div
          style="border: 1px solid #ccc; padding: 12px 30px; font-size: 24px; border-radius: 999px; display: inline-block;letter-spacing: 5px"
        >{{ otp }}</div>
      </td>
    </tr>
    <tr>
      <td>
        <p style="margin:30px 0 0 0">
          Please enter this code on the password reset page within the next 15 minutes. If you didn't initiate this
          request, you can safely ignore this email.
          <br />
          <br />
          If you have any questions or need further assistance, please don't hesitate to contact our support team at&nbsp;
          <a href="mailto:info@statisense.com.ng">info@statisense.com.ng</a>.
          <br />
          <br />
          Thank you,
          <br />
          The Statisense Team
        </p>
      </td>
    </tr>
  </table>
{{/ layout }}
