{{#> layout title="Welcome to Buyhub" }}
  <table role="presentation">
    <tr>
      <td>
        <p style="margin:0">
          <span>Hi {{ name }}</span>,<br><br>
          Welcome to Buyhub. We’re thrilled to see you here!
          We’re confident that our services will meet your needs and help you achieve your goals.
          <br/><br/>
          Get to know us in our introduction video. You’ll be guided through our offerings to ensure you get
          the very best out of our service.
          <br/><br/>
          You can also find more of our guides here to learn more about our services.
          <br/><br/>
          Take care!
          {{ name }}
        </p>
      </td>
    </tr>
  </table>
{{/ layout }}
